@import "../styles/variables.scss";

.products-page {
  padding: $spacing-lg;
  background-color: $background;
  font-family: $font-main;

  h1 {
    text-align: left;
    color: $title-color;
    margin-bottom: $spacing-xl;
    font-size: $font-size-h1;
  }

  p {
    text-align: center;
    color: $text-color;
  }
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 48px; // O el valor que desees, por ejemplo, 40px, 50px, etc.
  justify-items: center;
  padding: $spacing-md 0;
}

.product-card {
  width: 100%;
  max-width: 280px;
  padding: $spacing-md;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba($primary, 0.1);
  color: $text-color;
  font-size: $font-size-base;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid lighten($primary, 40%);
  position: relative;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba($primary, 0.2);
  }

  .product-card-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-grow: 1;
  }

  img {
    width: 100%;
    max-height: 180px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: $spacing-md;
  }

  h3 {
    font-size: $font-size-md; // Cambiado a $font-size-md para el título del producto
    color: $title-color;
    margin-bottom: $spacing-sm;
    font-family: $heading-font;
    line-height: 1.3;
  }

  p {
    margin-bottom: $spacing-sm;
    color: $text-color;
    font-size: $font-size-sm;
    flex-grow: 1;
  }

  span {
    font-weight: bold;
    color: $secondary; // Usando $secondary para el precio
    font-size: $font-size-lg;
    margin-bottom: $spacing-md;
  }

  .add-cart-btn {
    background-color: #f26522; // Naranja del botón de login
    color: white;
    border: none;
    padding: $spacing-sm $spacing-md;
    border-radius: 6px;
    cursor: pointer;
    font-family: $font-main;
    font-weight: bold;
    transition: background-color 0.2s ease;
    width: 90%;
    margin-top: auto;
  }

  .add-cart-btn:hover {
    background-color: darken(#f26522, 10%);
  }
}