//Colores
$primary: #EA6706;
$secondary: #72C9E4;
$background: #f9f9f9;
$text-color: #222;
$title-color:#EA6706;

//Tipografía
$font-main: 'Inria Sans', sans-serif;
$font-size-base: 16px;
$heading-font: 'Inria Sans', sans-serif;

//Espaciado
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;